<!DOCTYPE html>
<html>
  <head>
    <title>GoalAchiever4</title>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="app">
    <%= yield %>

    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </body>
</html>
